html {
    font-family: Verdana;
    font-size: 16px;
    background-color: black;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 6.2em;
    text-align: center;
    padding: 3.2px;
}

/*link and video*/
.midSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

p .cta {
    color: aquamarine;
    font-size: 2em;
    font-weight: lighter;
}

video {

}