html {
    font-family: Verdana;
    font-size: 16px;
    background-color: black;
}

h1 {
    color: white;
    font-weight: normal;
    font-size: 6.2em;
    text-align: center;
    padding: 3.2px;
}

/*link and video*/
.midSection {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

p .cta {
    color: aquamarine;
    font-size: 2em;
    font-weight: lighter;
}

.midH1 {
    font-weight: 300;
    font-size: 5.25em;
}

h2 {
    color: gray;
    font-size: 2.6em;
    font-weight: 200;
    text-align: center;
    padding: 2px;
}

.picDump {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100;
    height: auto;
}

.bridge {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.bridge #lastH1 {
    font-weight: 200;
    font-size: 5.25em;
}

footer h2 {
    color: gray;
    text-align: right;
    padding-right: 6px;
}